h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    display: inline-block;
}

h1, h2, h3 {
    display: inline-block;
    background-color: aquamarine;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p, ol, ul {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
display: block;
}

.boyfriend {
    background-color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
display: block;
}